<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${currentdir}/Logs/系统报错日志.log">

    <extensions>
        <add assembly="NLog.Extensions.Logging" />
    </extensions>

    <targets>
        <target xsi:type="AsyncWrapper" name="asyncAllfile">
            <target xsi:type="File"
                    name="allfile"
                    fileName="${currentdir}/Logs/${shortdate}/${level}/${level}.log"
                    layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="asyncAllfile" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
    </rules>
</nlog>